<div class="jumbotron">
  <div class="container">
    <h1>Your favorite dish - find it here</h1>
    <h4>Eat something great? Tell us about it.</h4>
    <p>What was it? <input type = "text" ng-model = "dishName"></p>
    <p>How would you describe it? <input type = "text" ng-model = "dishDescription"></p>
    <p>How would you categorize it? <input type = "text" ng-model = "dishCategory"></p>
    <p>And where did you eat it? <input type = "text" ng-model = "dishLocation"></p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Add your dish</a></p>
  </div>
</div>
